{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-dismissible fade show mt-4 alert-{{ message.tags }}" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close">
                </button>
            </div>
        {% endfor %}
        <h1 class="py-5">{{ title }}</h1>
    </div>
{% endblock body %}