{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block body %}
    <div class="container">
        <form method="post" class="py-5">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mt-4 mb-4">
                    <h1>Changepassword form</h1>
                </legend>

                <div class="form-floating mb-3">
                    <input type="password" name="old_password" id="old_password" class="form-control">
                    <label for="old_password">Old password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="new_password1" id="new_password1" class="form-control">
                    <label for="new_password1">New password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="new_password2" id="new_password2" class="form-control">
                    <label for="new_password2">Confirm password</label>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-success mt-3">Update</button>
        </form>
    </div>
{% endblock body %}