{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}
    <section id="change_password_profile_form">
        <div class="block_change_password_form_in_profile">
            <fieldset>
                <legend>
                    <h1>Форма изменения пароля</h1>
                </legend>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                        <div class="form-floating mb-3">
                            {{ f }}
                            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                        </div>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <button type="submit" class="btn_change_password">Обновить</button>
                </form>
            </fieldset>
        </div>
    </section>
{% endblock body %}