{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block body %}
    <div class="container py-5">
        <fieldset class="form-group">
            <legend class="mt-4">
                <h1>Форма изменения пароля</h1>
            </legend>
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                    <div class="form-floating mb-3">
                        {{ f }}
                        <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    </div>
                    <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                <button type="submit" class="btn btn-success mt-3">Обновить</button>
            </form>
        </fieldset>
    </div>
{% endblock body %}