{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <section id="email_confirmed">
        {% if messages %}
            {% for message in messages %}
                <div class="alert fade show mt-4 {% if messages %}alert-info{% else %} alert-warning{% endif %}
             " role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="alert alert-success block_email_confirmed" role="alert">
            <h1 class="alert-heading">Электронная почта подтверждена</h1>
            <p>Ваш адрес электронной почты успешно подтвержден.</p>
            <p>Спасибо за регистрацию!</p>
        </div>
    </section>
{% endblock body %}