{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}
    <section id="email_confirmation_failed">
        <div class="alert alert-danger block_email_confirmed_failed" role="alert">
            <h1 class="alert-heading">Ошибка подтверждения по электронной почте</h1>
            <p>Ссылка для подтверждения по электронной почте недействительна или срок ее действия истёк.</p>
            <p>Пожалуйста зарегистрируйтесь снова.</p>
        </div>
    </section>
{% endblock body %}