{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}
    <section id="login_page">
        <div class="block_login_form">
            <form method="post" action="{% url 'account:loginform' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <fieldset>
                    <legend>Войти в аккаунт</legend>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-dismissible fade show mt-4 alert-{{ message.tags }}" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close">
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-info base_errors">
                            {{ form.non_field_errors }}
                        </div>
                    {% else %}
                    {% endif %}
                    {% for f in form %}
                        <div class="form-floating mb-3">
                            {{ f }}
                            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                        </div>
                        <div class="field_error">
                            {{ f.errors }}
                        </div>
                    {% endfor %}
                </fieldset>
                <button type="submit" class="btn_login_auth">Войти</button>
            </form>
            <div class="restore_btn">
                Забыли пароль? <a href="{% url 'account:password_reset' %}">Восстановить</a>
            </div>
            <div class="register_btn">
                Нет аккаунта? <a class="ml-2" href="{% url 'account:registerform' %}">Регистрация</a>
            </div>
        </div>
    </section>
{% endblock body %}