{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}
    <section id="password_reset_complete">
        <div class="block_password_complete">
            <h1>Пароль изменён!</h1>
            <hr>
            <h3>Поздравляю! Вы изменили свой пароль!</h3>
            <div class="login_for_password_complete_page">
                <a href="{% url 'account:loginform' %}">
                    Войти
                </a>
            </div>
        </div>
    </section>
{% endblock body %}