{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block body %}
    <section id="password_reset_page">
        <div class="block_reset_password">
            <h1>Восстановление пароля</h1>
            <form method="post">
                {% csrf_token %}
                {% for f in form %}
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                    <div id="input_reset_password">{{ f }}</div>
                    <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                <div>
                    <button type="submit" class="btn_reset_password">Сбросить на почту</button>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}