{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}
    <section id="register_page">
        <div class="block_register_form">
            <form method="post" action="{% url 'account:registerform' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <fieldset>
                    <legend>Регистрация</legend>
                    {% if form.non_field_errors %}
                        <div class="alert alert-info base_errors">
                            {{ form.non_field_errors }}
                        </div>
                    {% else %}
                    {% endif %}
                    {% for f in form %}
                        <div class="form-floating mb-3">
                            {{ f }}
                            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                        </div>
                        {% if f.errors %}
                            <div class="alert alert-danger field_error">
                                {{ f.errors }}
                            </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <button type="submit" class="btn_register_user">Зарегистрировать</button>
            </form>
            <div class="btn_login_auth">
                Уже зарегистрированы? <a class="ml-2" href="{% url 'account:loginform' %}">Войти</a>
            </div>
        </div>
    </section>
{% endblock body %}