#password_reset_complete {
  padding: $page_container;
  margin: 100px 0;

  .block_password_complete {
    max-width: 550px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;

    .login_for_password_complete_page {
      a {
        background: #0a485b;
        border: none;
        color: #fff;
        padding: 10px 30px;
        border-radius: 5px;
        margin-top: 30px;
        display: block;
        text-align: center;
        text-decoration: none;
        &:hover{
          transition: all 0.5s;
          background: #032b38;;
        }
      }
    }
  }
}