$bodyfon: #ededed;
$bgheader: #0a485b;
$bgfooter: $bgheader;

// breakpoints
$phonebp: 480px;
$mintabletbp: 660px;
$tabletbp: 768px;
$desktopbp: 992px;
$largebp: 1200px;
$xlbp: 1680px;
$xxlbp: 1920px;

// page container
$page_container: 20px 40px;